/* Site Wide */

body {
	font-family: 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header, .home-module .film-title {
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #7b943a;
}

a:hover {
	color: #586a29;
}



/* header */

.header {
	font-size: 1.8em;
}
.header > .container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-header .navbar-brand {
	color: white;
	background-color: #678822;
	padding-right: 25px;
	padding-left: 25px;
}

.navbar.navbar-static-top {
	background-color: #F2F4ED;
	font-size: medium;
	text-transform: uppercase;
}
.nav > li {
	color: #2E2E2E;
	padding-right: 25px;
	padding-left: 25px;
}
.nav > li:nth-of-type(1) {
	background-color: #8CA421;
}
.nav > li:nth-of-type(2) {
	background-color: #AAC252;
}
.nav > li:nth-of-type(3) {
	background-color: #C2D581;
}
.nav > li:nth-of-type(4) {
	background-color: #DAE6B3;
}
.nav.navbar-right li {
	background-color: #7DC3BE;
}

/* footer */

.footer-social img {
	max-width: 60px;
	float: right;
	padding: 10px;
	padding-right: 0
}

footer {
	border-top: 1px solid #eeeeee;
	margin-top: 20px;
}
/* Home-page */

.home-top {
	background-color: #d6d7d6;
}

.home-top img{
	float: right;
	padding-right: 0px;
}
.home-module {
	background-color: #d6d7d6;
	margin: 10px 0;
	padding: 0px;
	font-size: 1.4em;
	border-radius: 5px;
} 

.home-module iframe {
	max-width: 100%;
	padding: 10px;
	margin: 0 auto;
}

.home-module ul, p {
	padding: 10px;
}

.home-module img {
	padding: 0 10px;
}

ul.home-list {
	list-style: none;
}

/* Judges */

ul.years a {
			font-size: 2.4em;
			line-height: 1em;
}

.films ul {
	list-style: none;
}

.films iframe {
	max-width: 100%;
}

img.header-logo {
	max-height: 100px;
}

.home-module > .home-title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	background-color: #7b943a;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
	margin-top: 0px;
}

/* Submit page */

.submit-table td, th {
	padding: 5px;
	border: 1px solid black;
}

.submit-table {
	margin-bottom: 10px;
}
/* Media Queries */

@media (max-width: 1200px) {

	.home-module {
		width: 100%;
	}

	.nav > li {
		padding-left: 12px;
		padding-right: 12px;
	}
}

@media (max-width: 992px){
	.nav > li {
		padding-right: 0;
		padding-left: 0;
		font-size: .94em;
	}
}

@media (max-width: 440px){
	.footer-social img {
		max-width: 50%;
		padding: 2px;
	}
}